[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docxtpl = "*"
pywin32-ctypes = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.8"

[scripts]
run = "python main.py"
